bodybody {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: url('images/background.jpg') no-repeat center center fixed;
    background-size: cover; /* Asegura que la imagen cubra toda la página */
    color: #333;
}

.header {
    background-color: #ff80ab;
    padding: 30px 0;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header h1 {
    margin: 0;
    color: #fff;
    font-size: 2.5em;
    font-weight: bold;
}

.carousel-container {
    position: relative;
    max-width: 90%;
    margin: 30px auto;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.carousel {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-flow: column;
    gap: 10px;
    transition: transform 0.5s ease-in-out;
    white-space: nowrap;
}

.carousel img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
    font-size: 1.5em;
    border-radius: 50%;
}

.carousel-button.prev {
    left: 10px;
}

.carousel-button.next {
    right: 10px;
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
    font-size: 1em;
}

.footer a {
    color: #ff80ab;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}
